.cart-container {
	border: 2px solid green;
	border-radius: 0.25rem;
	height: 2rem;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background-color: rgb(243, 240, 240);
}

.cart-summary {
	font-size: 1rem;
}

.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	padding: 10px;
	margin-left: 10px;
	border-radius: 0.25rem;
  }
  
  .btn-primary:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
  }
  
  .btn-primary:focus, .btn-primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #bac4cf;
	border-color: #007bff;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #0062cc;
	border-color: #005cbf;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }